<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Flashlight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ul>
    <li [routerLink]="['/home']">Flashlight</li>
    <li [routerLink]="['/page2']">Trivia API</li>
    <li [routerLink]="['/page3']">Page 3</li>
    <li [routerLink]="['/page4']">Page 4</li>

  </ul>
  <h2>Plugins!</h2>
  <h3>Flashlight</h3>
  <ion-button (click)="Flashlight()">Flashlight</ion-button>
  
</ion-content>
